<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Humedad
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <!-- Default Segment -->
    <ion-segment (ionChange)="segmentChanged($event)" color="tertiary">

      <ion-segment-button value="Dia">
        <ion-label style="font-size: 10px; font-weight: 450;">Actual</ion-label>
      </ion-segment-button>

      <ion-segment-button value="todos">
        <ion-label style="font-size: 10px; font-weight: 450;">Cada hora</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Semanal">
        <ion-label style="font-size: 10px; font-weight: 450;">Semanal</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <ion-content *ngIf="valorsegmento === 'Dia'">
    <!-- <ion-button (click)="sendfile()" color="primary">Primary</ion-button> -->
    <ion-card class="welcome-card ">
      <ion-row *ngFor="let temp of actual">
        <ion-col style="margin-left: 5%;">
          <img src="/assets/hume.png" alt="" />
        </ion-col>
        <ion-col style="margin-left: 5%;">
          <h1>{{temp.hum}}%</h1>
          <p>Humedad actual</p>
        </ion-col>
      </ion-row>
      <ion-card-header style="padding-bottom: 0px;">
        <ion-card-subtitle>Los Mochis Sin.</ion-card-subtitle>
        <ion-card-title>
          <p style="margin-top: 0px;padding-bottom:0px ;">{{hoy | date:"medium"}}</p>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="text-align: justify;">
          Se llama humedad a la cantidad de vapor de agua que forma parte del aire. Esta cantidad de vapor de agua varía
          según diversos factores como si ha habido precipitaciones recientes, proximidad al mar, presencia de plantas o
          la temperatura del aire.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>


  <ion-content *ngIf="valorsegmento === ''">
    <ion-card class="welcome-card ">
      <ion-row *ngFor="let temp of actual">
        <ion-col style="margin-left: 5%;">
          <img src="/assets/hume.png" alt="" />
        </ion-col>
        <ion-col style="margin-left: 5%;">
          <h1>{{temp.hum}}%</h1>
          <p>Humedad actual</p>
        </ion-col>
      </ion-row>
      <ion-card-header style="padding-bottom: 0px;">
        <ion-card-subtitle>Los Mochis Sin.</ion-card-subtitle>
        <ion-card-title>
          <p style="margin-top: 0px;padding-bottom:0px ;">{{hoy | date:"medium"}}</p>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="text-align: justify;">
          Se llama humedad a la cantidad de vapor de agua que forma parte del aire. Esta cantidad de vapor de agua varía
          según diversos factores como si ha habido precipitaciones recientes, proximidad al mar, presencia de plantas o
          la temperatura del aire.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-content *ngIf="valorsegmento === 'todos'">
    <ion-list>
      <ion-item *ngFor="let temp of temperatura" class="animated fadeIn fast">
        <ion-label>
          <h3 style="font-size: 12px;"> {{hoy | date:"medium"}} </h3>
          <ion-row>
            <p>
              {{ temp.hum }}%
            </p>
          </ion-row>
        </ion-label>
        <ion-label slot="end" text-right>
          Los Mochis Sin.
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-content>



  <ion-content *ngIf="valorsegmento == 'Semanal'">
    <ion-list>
      <ion-item *ngFor="let heroe of (data | async)" class="animated fadeIn fast">
        <ion-label>
          <h3>{{ heroe.superhero }} </h3>
          <p style="margin-left: 5px;">
            {{ heroe.alter_ego }}%
          </p>
        </ion-label>
        <ion-label slot="end" text-right>
          {{ heroe.publisher }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content *ngIf="valorsegmento == 'Hora'">
    <ion-list>
      <ion-item *ngFor="let heroe of (data | async)" class="animated fadeIn fast">
        <ion-label>
          <h3>{{ heroe.superhero }} <small> {{ heroe.alter_ego }} </small></h3>
          <p>
            {{ heroe.first_appearance }}
          </p>
        </ion-label>
        <ion-label slot="end" text-right>
          {{ heroe.publisher }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>